<!DOCTYPE html>
<html>
  <head>
    <title>DesafioProyecto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
    <nav class="nav nav-pills nav-fill">
      <li class="nav-item h4">
          <%= link_to "Crear proyecto", projects_index_path %>
      </li>
      <li class="nav-item h4">
          <%= link_to "ver proyectos", projects_dashboard_path %>
      </li>
    </nav>

    <%= yield %>
</body>
</html>
